

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Header */

.carousel-inner{
	min-height: 100%;
	
}

.carousel-indicators{
	bottom: 175px;
}

.carousel .item .textSlider {
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-position: bottom left;
	background-repeat: no-repeat;
	margin-left: 0;
}
/* @media (min-width: 768px) */  /* Cambio de bootrap */
/* @media (min-width: 992px) */  /* Cambio a Medium de bootrap */
@media (min-width: 999px){
	.carousel .item .textSlider {
		margin-left: 160px;
	}
}

.containHome {
	max-height: 540px;
}

/* Declare heights because of positioning of img element */

.carousel .item {
	position: absolute;
	min-height: 100%;
	width: 100%;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: white; /* !!! */
}


