.info-section {
	max-width: 436px;
	color: #547989;
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	margin-top: 127px;
	margin-left: 200px;
}
#close {
	position: relative;
	float: right;
}

#content  {
	margin-top: 10px;
}

#contentDesplegable {
	margin-top: 6px;
	font-size: 10px;
}
.desplegableContent{
	margin-right: 3%;
	margin-right: 3%;
	color: #547bb4;
}

.menuizq {
	height: 23px;
	border-width: 0 0 23px 23px;
	border-style: solid;
	border-color: transparent #c9ce33 #c9ce33 transparent;
	width: 300px;
	float: left;
	text-align: right;
	color: #FFF;
}
.menuizq a {
	text-decoration: none;
}
.menuder {
	height: 23px;
	border-width: 0 23px 23px 0;
	border-style: solid;
	border-color: #c9ce33 transparent #c9ce33 #c9ce33;
	width: 300px;
	float: left;
	text-align: left;
	color: #FFF;
}
.menuder a {
	text-decoration: none;
}
a.refActive {
	color: #514537;
}
.upDesplegable{
	vertical-align: none;
	float: left;
	background-color: #c9ce33;
}
.menuDesplegable{
	height: 23px;
	max-width: 660px;
	margin-right: auto;
	margin-left: auto;
}
.anchoEspecial{
	max-width: 700px;
}
