Seccion: <br>
<a href='/background/home'>Home</a>
<a href='/background/contacto'>Contactos</a>

<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
  {{formulario.imagen.label}}{{formulario.imagen}}
  {{ formulario.alineacion1.label }}{{formulario.alineacion1}}
  {{ formulario.alineacion2.label }}{{formulario.alineacion2}}
  {{ formulario.size1.label }}{{formulario.size1}}
  {{ formulario.size2.label }}{{formulario.size2}}
  <input type="submit"/>
</form>