<h2>Nuevo background para la seccion: {{actual}}</h2>

Secciones: <br>
{% for seccion in secciones %}
<a href='/background/{{seccion.nombre}}'>{{seccion.nombre}}</a>
{%endfor%}

<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
  {{formulario.nombre.label}}{{formulario.nombre}}
  {{formulario.imagen.label}}{{formulario.imagen}}

  {{ formulario.alineacion1.label }}{{formulario.alineacion1}}
  {{ formulario.alineacion2.label }}{{formulario.alineacion2}}
  {{ formulario.size1.label }}{{formulario.size1}}
  {{ formulario.size2.label }}{{formulario.size2}}
  <input type="submit"/>
</form>
