<!DOCTYPE html>
<html>
<script>
  function Agregar() {
   document.getElementById('formulario_imagenes').style.display = 'block';
  }
</script>
<head>
    <title></title>
</head>
<body>

<ul>
    <li><a href='/background/home'> Background </a></li>
    <li><a href='/galeriasImagenes/mar'> Galerias Imagenes </a></li>
    <li><a href='/planos/uno'> Planos </a></li>
    <li><a href='/galeriasVideos/video1'> Galerias Videos </a></li>
    <li><a href='/carga_pdf/uno'> Pdf </a></li>
</ul>


Galerias Imagenes: <br>
<a href='/galeriasImagenes/mar'>Mar</a> <br>
<a href='/galeriasImagenes/montana'>Montana</a> <br><br><br>

{% if galeria %}
  Imagenes:
  {% for galerias in galeria.imagenes.all %}
    <div >
        {{galerias.imagen}}
        <!-- <img id="post-image" src="{{galerias.imagen.url}}"> -->
    </div>
  {% endfor %}
{% else %}
   No hay ninguna imagen en esta galeria
{% endif %}

 <a id="boton_agregar" href="#" onClick="Agregar()" >Agregar Una Imagen</a> <br>

<div id="formulario_imagenes" hidden>
    <form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
  {{formulario.imagenes.label}}{{formulario.imagenes}}
  {{ formulario.alineacion1.label }}{{formulario.alineacion1}}
  {{ formulario.alineacion2.label }}{{formulario.alineacion2}}
  {{ formulario.size1.label }}{{formulario.size1}}
  {{ formulario.size2.label }}{{formulario.size2}}
      <input type="submit"/>
    </form>
</div>
</body>
</html>