<!DOCTYPE html>
<html>
<script>
  function Agregar() {
   document.getElementById('formulario_imagenes').style.display = 'block';
  }
</script>
<head>
    <title></title>
</head>
<body>
Galerias Imagenes: <br>
{%for gal in galerias%}
<a href='/galeriasImagenes/{{gal.nombreGaleria}}'>{{gal.nombreGaleria}}</a> <br>
{%empty%}
<p>Aun no existen galerias</p>
<p>para crear una galeria entre <a href='/admin/manager/galeriasimagenes/'>aqui</a></p>
{%endfor%}
<br><br><br>

{%if galeria == None%}
<p>Seleccione una galeria</p>
{%else%}
    <form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
  {{formulario.nombre.label}}{{formulario.nombre}}
  {{formulario.imagenes.label}}{{formulario.imagenes}}
  {{ formulario.alineacion1.label }}{{formulario.alineacion1}}
  {{ formulario.alineacion2.label }}{{formulario.alineacion2}}
  {{ formulario.size1.label }}{{formulario.size1}}
  {{ formulario.size2.label }}{{formulario.size2}}
      <input type="submit"/>
    </form>
{%endif%}
</body>
</html>
