{% extends 'fondo_dinamico.html' %}
{%block dentro_item%}

{% endblock %}

{% block menuFooter%}
	<img src="{{STATIC_URL}}img/up.png">
{% endblock %}


{% block js %}

<script type="text/javascript">
		  $(document).ready(function(){
		    $(".botonDesplegable").click(function(){
		      if($(".baseDesplegable").hasClass('click')) {
		        $(".baseDesplegable").animate({height:0},200).removeClass('click');
		      } else { 
		        $(".baseDesplegable").animate({height:77},200);
		        $(".baseDesplegable").addClass('click');
		      }
		    });
		  });
</script>

<script type="text/javascript">
            $( document ).ready(function() {
/*                 console.log( "ready: t-1000 fadeOut primer .textSlider" ); */
                $(".active > .textSlider").addClass("sliderHidden");
                $(".active > .textSlider").delay( 2000 ).fadeOut(1500);
            });             
            $('#carruselFondo').on('slid.bs.carousel', function () {
                $(".sliderHidden").show();
                $(".sliderHidden").removeClass('sliderHidden');
                $(".active > .textSlider").addClass("sliderHidden");
                $(".active > .textSlider").delay( 2500 ).fadeOut(1500);

            });
</script>

{% endblock %}
