{% extends 'fondo_dinamico.html' %}
{%block dentro_item%}
								<div class="textSlider" style="background-image: url({{fondo.asociada.imagen.url}});"></div>

{% endblock %}

{% block menuFooter%}
	<img src="{{STATIC_URL}}img/up.png">
{% endblock %}


{% block js %}



<script type="text/javascript">
             $('#fondo').ready(function() {
                 console.log( "ready: t-1000 fadeOut primer .textSlider" ); 
                $(".active > .textSlider").addClass("sliderHidden");
                $(".active > .textSlider").delay( 2000 ).fadeOut(1500);
            });             
            $('#fondo').on('slid.bs.carousel', function () {
                 console.log( "slid" ); 
                $(".sliderHidden").show();
                $(".sliderHidden").removeClass('sliderHidden');
                $(".active > .textSlider").addClass("sliderHidden");
                $(".active > .textSlider").delay( 2500 ).fadeOut(1500);

            });
</script>

{% endblock %}
