{% extends 'fondo_dinamico.html' %}
{%block dentro_item%}

{% endblock %}

{% block menuFooter%}
	<img src="{{STATIC_URL}}img/up.png">
     <div id="footerDesplegable">

			   <div class="desplegable">
			   	<div id="content">
    		    <section class="main container">
    		    	<div class="desplegableContent">
    		    	{{texto}}
                    </div>
    		    </section><!-- Fin Main -->
            </div><!-- Fin Content -->
			   </div>
			   <div class="baseDesplegable">
			   </div>

	</div><!-- Fin Content -->
{% endblock %}


{% block js %}




<script type="text/javascript">
            $( document ).ready(function() {
/*                 console.log( "ready: t-1000 fadeOut primer .textSlider" ); */
                $(".active > .textSlider").addClass("sliderHidden");
                $(".active > .textSlider").delay( 2000 ).fadeOut(1500);
            });             
            $('#carruselFondo').on('slid.bs.carousel', function () {
                $(".sliderHidden").show();
                $(".sliderHidden").removeClass('sliderHidden');
                $(".active > .textSlider").addClass("sliderHidden");
                $(".active > .textSlider").delay( 2500 ).fadeOut(1500);

            });
</script>

{% endblock %}
