<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>





Planos: <br>
<a href='/planos/uno'>Uno</a>
<a href='/planos/dos'>Dos</a>
<a href='/planos/tres'>Tres</a>

<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
 {{formulario.imagen.label}}{{formulario.imagen}}
  {{ formulario.alineacion1.label }}{{formulario.alineacion1}}
  {{ formulario.alineacion2.label }}{{formulario.alineacion2}}
  {{ formulario.size1.label }}{{formulario.size1}}
  {{ formulario.size2.label }}{{formulario.size2}}
<input type="submit"/>




</form>
</body>
</html>